<ul>
  <li><a href="/concept">Le concept</a></li>
  <li><a href="/team">L'équipe</a></li>
  <li><a href="/sources">Les sources</a></li>
<ul>

<footer>© Les Candidats 2017</footer>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
