<link rel="stylesheet" type="text/css" href="/css/footer.css"></link>

<div class="row footer">

  <hr>

  <div class="col-md-2 col-md-offset-3 text-center">
    <a href="/concept">Le concept</a>
  </div>

  <div class="col-md-2 text-center">
    <a href="/team">L'équipe</a>
  </div>

  <div class="col-md-2 text-center">
    <a href="/sources">Les sources</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
