<link rel="stylesheet" type="text/css" href="/css/footer.css"></link>

<div class="container footer1">
    <footer class="footer-bs">
        <div class="row">
          <div class="col-md-3 col-md-offset-2 footer-brand animated fadeInLeft">
              <h2>Logo</h2>
                <p>Phrase Catchy</p>
            </div>
          <div class="col-md-4 footer-nav animated fadeInUp">
              <h4>Menu</h4>
              <div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Test</a></li>
                        <li><a href="#">Biographies</a></li>
                        <li><a href="#">Analyse</a></li>
                        <li><a href="#">Information</a></li>
                    </ul>
                </div>
              <div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">Concept</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Equipe</a></li>
                        <li><a href="#">Sources</a></li>
                    </ul>
                </div>
            </div>
          <div class="col-md-3 footer-social animated fadeInDown">
              <h4>Nous suivre</h4>
              <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<div class="container footer2">
    <div class="col-md-12 text-center">
      <p>© 2016 - All Rights with Webenlance</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
