<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no">
<title>Les Candidats</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/background.css"></link>
<link rel="icon"       type="image/png" href="/img/background/favicon.png">
