<link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/navbar.css">

<div class="container navbar-container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand" href="/main">Les Candidats 2017</a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a class="hvr-underline-from-center" href="/test">Questionnaire</a></li>
          <li><a class="hvr-underline-from-center" href="/test2">Indécis ?</a></li>
          <li class="dropdown">
            <a class=" hvr-underline-from-center" data-toggle="dropdown" href="#">Les outils
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="hvr-underline-from-center" href="/compare">Le comparateur</a></li>
              <li><a class="hvr-underline-from-center" href="/biographies">Les biographies</a></li>
              <li><a class="hvr-underline-from-center" href="/glossary">Le glossaire</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class=" hvr-underline-from-center" data-toggle="dropdown" href="#">Le concept
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="hvr-underline-from-center" href="/concept">L'idée</a></li>
              <li><a class="hvr-underline-from-center" href="/sources">Les sources</a></li>
            </ul>
          </li>
          <!--<li><a class="hvr-underline-from-center" href="/analyse">Analyse</a></li> -->
          <!--<li><a class="hvr-underline-from-center" href="/info">Info</a></li>-->
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

 </div>



 <img id="Marianne" src="/img/background/back_BW_short.png" alt="Marianne République Française">
