<link rel="stylesheet" type="text/css" href="/css/navbar.css"></link>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container fixedMargin">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main">Les Candidats.</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="test"><a href="/test">Le Test</a></li>
                <li id="biographies"><a href="/biographies">Les Biographies</a></li>
                <li id="analyse"><a href="/analyse">L'Analyse</a></li>
                <li id="concept"><a href="/info">L'info</a></li>
            </ul>
        </div>

    </div>
</div>
