<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

      <div id="wrap">
        <div class="container">
            <h1>Perdu-e?</h1>
            <h3>Malheureusement cette page n'existe pas.</h3>
            <p>Vous pouvez retourner au menu <a href="/">ici</a> </p>

        </div>

    <div id="wrap">

    <div class="container">
        <% include partials/footer %>
    </div>

</body>
</html>
