<!DOCTYPE html>
<html lang="en">
<title>Les Candidats 2017 | Page introuvable</title>
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css">
<body>
  <% include partials/navbar %>

    <div id="wrap">

      <div class="container">
        <div class="row titleRow">
          <div class="col-md-8 col-md-offset-3 text-center">
            <h1>Perdu-e?</h1>
            <h3>Malheureusement cette page n'existe pas.</h3>
            <p>Vous pouvez retourner au menu <a href="/">ici</a> </p>          </div>
        </div>
      </div>


  </div>


    <% include partials/footer %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-96356155-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
