<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css"></link>
<body>
    <% include partials/navbar %>

  <div id="wrap">

    <div class="container">
      <div class="row titleRow">
        <div class="col-md-8 col-md-offset-3 text-center">
          <h1>Analyse des candidats</h1>
          <p>Cette partie est malheureusement en construction</p>
        </div>
      </div>
    </div>
    <!--
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-3 text-center">
              <ul>
                <li>Petites stats / description des candidats : nombre d'hommes, femmes, ages, études, ...</li>
                <li>Mots utilisés par les candidats</li>
                <li>Evolution dans les sondages</li>
                <li>Machine Learning</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
    -->
  </div>


    <% include partials/footer %>



</body>
</html>
