<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

  <div id="wrap">
    <div class="jumbotron">
        <div class="container">
            <h1>Analyse Machine Learning</h1>
            <p>C'est ici que ce fait l'analyse du programme des candidats</p>
            <p>L'idée étant de comparer les programmes à partir des discours des candidats ainsi qu'à partir de leurs programmes</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button">Découvrir
                    &raquo;</a>
            </p>
        </div>
    </div>
  </div>


    <% include partials/footer %>

    

</body>
</html>
