<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>



    <div class="container" id="mainContainer">

    </div>


    <div class="container">
      <hr>
      <% include partials/footer %>
    </div>

    <script>
      var results = <%- JSON.stringify(results) %>
      console.log(results);
    </script>

</body>
</html>
