<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/answers.css"></link>
<body>
    <% include partials/navbar %>

  <div id="wrap">

    <div class="container" id="mainContainer">

    </div>
  </div>


    <% include partials/footer %>


    <script> var rawResults = <%- JSON.stringify(results) %>;</script>
    <script>
    var listOfCandidates = <%- JSON.stringify(listOfCandidates) %>;
    listOfCandidates = JSON.parse(listOfCandidates);
    </script>
    <script src="js/answers.js"></script>
</body>
</html>
