<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

    <div>
      <div class="row">
        <div class="col-md-4">

        </div>
      </div>
    </div>


    <div class="container" id="mainContainer">

    </div>

    <div class="container">
      <hr>
      <% include partials/footer %>
    </div>

    <script src="js/bio.js"></script>

</body>
</html>
