<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/bio.css"></link>
<% include partials/head %>
<body>
    <% include partials/navbar %>

  <div id="wrap">
    <div class="container" id="mainContainer">

    </div>
  </div>


    <% include partials/footer %>


    <script> var biography = <%- JSON.stringify(biographie) %>;</script>
    <script src='/js/bio.js'></script>
</body>
</html>
