<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css"></link>
<link rel="stylesheet" type="text/css" href="/css/compare.css"></link>
<body>
    <% include partials/navbar %>

  <div id="wrap">

    <div class="container">
      <div class="row titleRow">
        <div class="col-lg-9 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12 text-center">
          <h1>Comparaison des candidats</h1>
          <p>
            Découvrez en un clin d'oeil les positions des candidats
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12 text-center" id="explain">
          <div class="row">
            <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 block' style="height: 40px; width:60px;">
              <button class="btn btn-lg" type="button" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="" data-original-title="" title="" style="background-color: rgb(22, 161, 1);"></button>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 exp'> Le candidat est d'accord avec la proposition
            </div>
          </div>
          <div class="row">
            <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 block' style="height: 40px; width:60px;">
              <button class="btn btn-lg" type="button" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="" data-original-title="" title="" style="background-color: rgb(231, 165, 4);"></button>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 exp'> Le candidat a une proposition alternative
            </div>
          </div>
          <div class="row">
            <div class='col-lg-1 col-md-1 col-sm-1 col-xs-1  col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 block' style="height: 40px; width:60px;">
              <button class="btn btn-lg" type="button" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="" data-original-title="" title="" style="background-color: rgb(171, 22, 4);"></button>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 exp'> Le candidat est contre la proposition
            </div>

          </div>
          <div class="row">
          <div class='col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2' style="margin-top: 40px;">
          Pour une lecture plus rapide et intuitive, sélectionner les positions qui vous importent. Cliquez sur chaque proposition pour que s'affiche celle que vous soutenez. Vous pourrez ainsi voir plus rapidement les candidats qui partagent votre opinion. En survolant certaines cases, vous trouverez la proposition du candidat.
          </div>
        </div>


        </div>
      </div>

      <div class="row" id="compareRow">
      </div>

      <div class='col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12' id="fakeCol">
      </div>

    </div>

  </div>


    <% include partials/footer %>
<script> var comparison = <%- JSON.stringify(comparison) %>;</script>
<script>
  var listOfCandidates = <%- JSON.stringify(listOfCandidates) %>;
  listOfCandidates = JSON.parse(listOfCandidates);
</script>
<script src='/js/compare.js'></script>

</body>
</html>
