<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css"></link>
<link rel="stylesheet" type="text/css" href="/css/concept.css"></link>
<body>
    <% include partials/navbar %>

  <div id="wrap">
    <div class="container">
      <div class="row titleRow">
        <div class="col-lg-9 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 text-center">
          <h1>Concept</h1>
          <p>Découvrez comment votre candidat est choisi</p>
        </div>
      </div>
    </div>



    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <div class="block">
            <h2>Contexte</h2>
            <p>L'année 2017 est marquée par l'élection présidentielle, à laquelle participent onze candidats. Chacun d'eux se distingue par l'ambition, la qualité et les positions du programme qu'il souhaite soumettre à la France pendant les 5 prochaines années.
            </p>
            <p>Néanmoins, le nombre de candidats et l'étendue de leurs programmes rendent complexe l'analyse de leurs positions relatives. Nous considérons dès lors qu'il devient difficile de s'échapper des débats passionnels et de se placer objectivement sur l'échiquier politique pour soutenir le candidat qui nous représente le mieux.
            </p>
          </div>

          <blockquote><i>Parce que l'élection présidentielle ne se résume pas à 5 ou 6 candidats</i></blockquote>


          <div class="block">
            <h2>Ambition</h2>
            <p>Les positions et les valeurs de chacun sont uniques. Il convient alors d'adapter le débat aux attentes de chacun, car l'importance accordée à tous les sujets n'est pas la même pour tous.
            </p>
            <p>Nous avons donc voulu apporter un outil supplémentaire aux électeurs qui souhaitaient en apprendre davantage sur leurs orientations politiques et les candidats qui se présentent, selon les points suivants:
            </p>
            <ul>
              <li>Un test relatif à chaque personne, selon les thèmes qui vous importent</li>
              <li>Des questions variées, de manière à ce que vous puissiez refaire le test plusieurs fois sans aborder toujours les mêmes problématiques, pour mieux cerner ce qui vous convient</li>
              <li>Des possibilités de réponses multiples et précises, car nous estimons qu'un simple questionnaire dichotomique (Oui/Non) n'est pas suffisamment poussé pour déterminer sérieusement votre candidat</li>
              <li>Un outil de comparaison des candidats sur certaines propositions/positions, parce qu'il est laborieux de les confronter sur tous les thèmes</li>
              <li>La représentation de tous les candidats, car dans un esprit démocratique, chacun mérite d'être entendu</li>
            </ul>
            <p>Pour les raisons qui viennent d'être évoquées, le test n'a pas vocation à déterminer de manière absolu le ou la candidate, mais d'esquisser la place de l'utilisateur dans le paysage électoral au vue des affinités et des convictions de chacun.</p>
          </div>

          <div class="block">
            <h2>Transparence de la méthode</h2>
            <p>Tout d'abord, un choix de thèmes de questions a été fait: économie et finances, santé, solidarité, relations internationales, etc...
              Bien sûr, il ne se veut pas parfait ni exhaustif mais il a le mérite, d'une part, de regrouper l'ensemble des principaux sujets abordés par les candidats, et, d'autre part, d'aggréger tous leurs points de vues.</p>
            <p>L'utilisateur évalue alors les thèmes selon le degré d'importance qu'il leur accorde, puis choisit un nombre approximatif de questions selon le temps qu'il souhaite passer sur le test.
              Nous faisons en sorte qu'il y ait au moins une question par thème, même si l'utilisateur a jugé ce thème sans importance pour lui. Mais dans le calcul du résultat, ce thème aura alors un poids moins élevé.
            </p>
            <p>
              Un algorithme vient déterminer le nombre de question par thème,selon le degré d'importance de chaque thème. A partir d'une base de données, une liste de questions est proposée à l'utilisateur, mêlant questions à choix simple, questions à choix multiples, sous questions, ...
            </p>
            <p>
              Chaque réponse apporte des points différents à chaque candidat: en effet, une même proposition peut être un point phare du programme d'un candidat tout en étant très peu mis en avant chez un autre.
            </p>
            <p>Un autre algorithme agrège les résultats pour donner</p>
            <ul>
              <li>Un candidat favori</li>
              <li>L'ordre des candidats, du plus proche au plus lointain</li>
              <li>Pour les thèmes les plus importants aux yeux de l'utilisateur, les candidats dont il est le plus proche</li>
            </ul>

            <p>Pseudo code d'une question</p>
            <p>De fait, les résultats sont davantage des positions relatives des candidats les uns par rapport aux autres qu'une valeur absolue.</p>
            <p>L'ensemble du code peut être retrouvé sur ce lien <a>Github</a></p>
          </div>

          <div class="block">
            <h3>Remarque sur Jacques Asselineau et Jean Lassalle</h3>
            <p>Comme nous l'avons souligné précédemment, nous avons souhaité inclure l'ensemble des candidats à la présidentielle dans ce test, et non pas s'en tenir aux principaux grands partis. Seulement, deux candidats n'ont pas pu être ajoutés, à cause de leurs programmes insuffisamment développés pour être ajoutés au questionnaire.
              Il s'agit de Jean Lassalle, qui n'a pas émis de propositions assez précises pouvant être insérées dans le test, et François Asselineau, qui a choisit de ne pas s'exprimer sur un grand nombre de questions. Vous pourrez tout de même retrouver ces candidats dans la section Biographies, ainsi que dans le tableau de comparaison des programmes et comparaison.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include partials/footer %>


</body>
</html>
