<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css"></link>
<body>
    <% include partials/navbar %>

  <div id="wrap">
    <div class="container">
      <div class="row titleRow">
        <div class="col-md-8 col-md-offset-3 text-center">
          <h1>Concept</h1>
          <p>Découvrez comment votre candidat est choisi</p>
        </div>
      </div>
    </div>



    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-3">

              <h1>L'intention du site</h1>
              <p>Contexte</p>
                <ul>
                  <li>Présidentielle</li>
                  <li>Beaucoup de candidats
                </ul>
              <p>Pourquoi: </p>
                <ul>
                  <li>Pour avoir tous les candidats</li>
                  <li>Pour avoir un test personnalisé</li>
                  <li>Parce qu'il est laborieux de comparer tous les candidats sur ttous les thèmes </li>
                  <li>...</li>
                </ul>
              <p>Comment</p>
                <ul>
                  <li>Choix des thèmes et de la durée</li>
                  <li>Selection des questions dans une base de données</li>
                  <li>Il existe plusieurs types de questions : ...</li>
                  <li>Chaque réponse rapporte des points à chaque candidat</li>
                  <li>Les résultats sont aggrégés, notamment par thèmes</li>
                </ul>
        </div>
      </div>
    </div>
  </div>


  <% include partials/footer %>


</body>
</html>
