<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

  <div id="wrap">
    <div class="jumbotron">
        <div class="container">
            <h1>L'intention du site</h1>
            <p>Qui</p>
            <p>Pourquoi</p>
            <p>Contexte</p>
            <p>Comment</p>
        </div>
    </div>
  </div>

  <div class="container">
      <% include partials/footer %>
  </div>

</body>
</html>
