<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

  <div id="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-3 text-center">

              <h1>Glossaire</h1>

        </div>
      </div>

      <div class ="row">
        <div class="col-md-8 col-md-offset-3 text-center">
          <div class="row" id="words">
          </div>
      </div>
    </div>
  </div>


  <% include partials/footer %>


</body>
</html>
