<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css">
<link rel="stylesheet" type="text/css" href="/css/glossary.css">
<body>
    <% include partials/navbar %>

  <div id="wrap">
    <div class="container">
      <div class="row titleRow">
        <div class="col-lg-9 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12 text-center">
          <h1>Glossaire</h1>
          <p>Petit abécédaire des idées floues</p>
        </div>
      </div>
    </div>


    <div class="container">
      <div class ="row">
        <div class="col-lg-9 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
          <div class="row" id="words">
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include partials/footer %>
  <script> var listOfWords = <%- JSON.stringify(listOfWords) %>;</script>
  <script src="js/glossary.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96356155-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
