<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css"></link>
<body>
    <% include partials/navbar %>

  <div id="wrap">

    <div class="container">
      <div class="row titleRow">
        <div class="col-md-8 col-md-offset-3 text-center">
          <h1>Le serveur vient de détecter une tentative d'intrusion.</h1>
          <p>Si ce n'est pas e cas, retournze sur le <a href="/test">test</a></p>
        </div>
      </div>
    </div>
    
  </div>


    <% include partials/footer %>

</body>
</html>
