<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

  <div id="wrap">
    <div class="container" id="mainContainer">

    </div>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container text-center">
      <div class="col-md-6 col-md-offset-4">
        <h2>Le server vient de detecter une tentative d'intrusion. </h2>
        <h3>Si ce n'est pas le cas, retourner sur le <a href="/test">test</a></h3>
      </div>
    </div>

    <div class="container" id="infoContainer">
    </div>
  </div>


    <% include partials/footer %>

</body>
</html>
