<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>


    <div class="container" id="mainContainer">

    </div>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational
                website. It includes a large callout called a jumbotron and three
                supporting pieces of content. Use it as a starting point to create
                something more unique.</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button">Learn more
                    &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">

        <hr>

        <% include partials/footer %>
    </div>
    <!-- /container -->
    <script> var info = <%- JSON.stringify(info) %>;</script>
    <script src='/js/info.js'></script>
</body>
</html>
