<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css">
<body>
    <% include partials/navbar %>

  <div id="wrap">

    <div class="container">
      <div class="row titleRow">
        <div class="col-md-8 col-md-offset-3 text-center">
          <h1>L'actualité politique de la présidentielle</h1>
          <p>C'est ici que vous pouvez suivre les dynamiques de campagne des candidats</p>
        </div>
      </div>
    </div>



    <div class="container" id="infoContainer">
      <div class="row">
        <div class="col-md-8 col-md-offset-3 text-center">
          <iframe src="https://presidentielle2017.conseil-constitutionnel.fr/embeded/parrainages-par-candidat/" width="100%" height="500" scrolling="yes" class="iframe-class" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>


    <% include partials/footer %>

    <!-- /container -->
    <script> var info = <%- JSON.stringify(info) %>;</script>
    <script src='/js/info.js'></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96356155-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
