<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>


    <div class="container" id="mainContainer">

    </div>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>L'actualité politique de la présidentielle</h1>
            <p>C'est ici que vous pouvez suivre les dynamiques de campagne des candidats</p>
            <p>Tout les matins, vous pourrez retrouver l'ensemble de l'actualité de la présidentielle à travers les publications de journaux, comme
            le Figaro, Libération, Les échos, ...</p>
        </div>
    </div>

    <div class="container" id="infoContainer"></div>

    <div class="container">

        <hr>

        <% include partials/footer %>
    </div>
    <!-- /container -->
    <script> var info = <%- JSON.stringify(info) %>;</script>
    <script src='/js/info.js'></script>
</body>
</html>
