<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css"></link>
<body>
    <% include partials/navbar %>

  <div id="wrap">

    <div class="container">
      <div class="row titleRow">
        <div class="col-md-8 col-md-offset-3 text-center">
          <h1>L'actualité politique de la présidentielle</h1>
          <p>C'est ici que vous pouvez suivre les dynamiques de campagne des candidats</p>
        </div>
      </div>
    </div>



    <div class="container" id="infoContainer">
      <div class="row">
        <div class="col-md-8 col-md-offset-3 text-center">
          <iframe src="https://presidentielle2017.conseil-constitutionnel.fr/embeded/parrainages-par-candidat/" width="100%" height="500" scrolling="yes" class="iframe-class" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>


    <% include partials/footer %>

    <!-- /container -->
    <script> var info = <%- JSON.stringify(info) %>;</script>
    <script src='/js/info.js'></script>
</body>
</html>
