<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Les Candidats 2017</h1>
            <p>Toute l'actualité sur les présidentielles 2017, condensée, concentrée.
            Comment le numérique peut améliorer la compréhension de la politique.
            Chaque rubrique ... bla bla bla </p>
            <p>
                <a class="btn btn-primary btn-lg" role="button">Learn more
                    &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">
        <% include partials/content %>
        <hr>

        <% include partials/footer %>
    </div>
    <!-- /container -->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
