<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
<body>
  <% include partials/navbar %>

  <div class="container">
    <div class='row'>
      <div class="col-md-9 col-md-offset-2 text-center">

            <h1>Les Candidats 2017</h1>
            <h2>Plus que</h2>
            <div id="clockdiv">
              <div>
                <span class="days"></span>
                <div class="smalltext">Jours</div>
              </div>
              <div>
                <span class="hours"></span>
                <div class="smalltext">Heures</div>
              </div>
              <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
              </div>
              <div>
                <span class="seconds"></span>
                <div class="smalltext">Secondes</div>
              </div>
            </div>
            <h2>pour choisir votre candidat</h2>
      </div>
    </div>
  </div>

  <script src="js/main.js"></script>



</body>
</html>
