<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
<body>
  <% include partials/navbar %>

  <div class="container">
    <div class='row'>
      <div class="col-md-9 col-md-offset-2 text-center">
        <div class="row">
          <div class="col-md-12">
            <h1>Les Candidats 2017</h1>
            <h2>Trouvez votre candidat à la présidentielle</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-md-offset-2 text-center">
          <div id="clockdiv">
            <div>
              <span class="days"></span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span class="hours"></span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes"></span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="seconds"></span>
              <div class="smalltext">Seconds</div>
            </div>
          </div>

      </div>
    </div>
  </div>

  <script src="js/main.js"></script>



</body>
</html>
