<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
<body>
  <% include partials/navbar %>


    <div class="col-md-9 col-md-offset-2 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>Les Candidats 2017</h1>
          <h2>Trouvez votre candidat à la présidentielle</h2>
        </div>
      </div>
    </div>
  </div>





</body>
</html>
