<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Les Candidats</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
<body>

    <div class="container">
      <div class="col-md-9 col-md-offset-3 text-center">

        <div class="row" id="links">
          <div class="col-md-3 text-center">
            <a href="/test">Le Test</a>
          </div>

          <div class="col-md-3 text-center">
            <a href="/biographies">Les Biographies</a>
          </div>

          <div class="col-md-3 text-center">
            <a href="analyse">L'Analyse</a>
          </div>

          <div class="col-md-3 text-center">
            <a href="/info">L'Info</a>
          </div>
        </div>

    </div>
    <div class="col-md-9 col-md-offset-3 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>Les Candidats 2017</h1>
          <h2>Trouvez votre candidat à la présidentielle</h2>
        </div>
      </div>
    </div>
  </div>





</body>
</html>
