<!DOCTYPE html
<html lang="en">
<% include partials/head %>

<link rel="stylesheet" type="text/css" href="/css/skins/all.css"></link>
<link rel="stylesheet" type="text/css" href="/css/questions.css"></link>
<body>
    <% include partials/navbar %>
  <div id="wrap">

    <div class="container" id="mainContainer">
      <div class="row">
        <div class="col-lg-7 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="center-block" id="surveyContainer">
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include partials/footer %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/icheck.min.js"></script>
    <script src="js/survey.jquery.min.js"></script>
    <script>var questions = <%- JSON.stringify(surveyJSON) %>; </script>
    <script>var userPreferences = <%- JSON.stringify(userPreferences) %>;</script>
    <script src ="js/questions.js"></script>

</body>
</html>
