<!DOCTYPE html
<html lang="en">
<% include partials/head %>

<link rel="stylesheet" type="text/css" href="/css/questions.css">
<body>
    <% include partials/navbar %>
  <div id="wrap">

    <div class="container" id="mainContainer">
      <div class="row">
        <div class="col-lg-9 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
          <div class="center-block" id="surveyContainer">
          </div>
        </div>


      </div>
    </div>
  </div>


  <% include partials/footer %>


    <script src="js/icheck.min.js"></script>
    <script src="js/survey.jquery.min.js"></script>
    <script>var questions = <%- JSON.stringify(surveyJSON) %>; </script>
    <script>var userPreferences = <%- JSON.stringify(userPreferences) %>;</script>
    <script src ="js/questions.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-96356155-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
