<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css"></link>
<link rel="stylesheet" type="text/css" href="/css/sources.css"></link>
<body>
    <% include partials/navbar %>

  <div id="wrap">


    <div class="container">
      <div class="row titleRow">
        <div class="col-md-8 col-md-offset-3 text-center">
          <h1>Les sources</h1>
          <p>Toutes les informations du site peuvent être retrouvées dans les liens suivants</p>
          <p>Le site ne peut être tenu responsable de la modification des sites mentionnés</p>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="col-md-8 col-md-offset-3 text-center">
          <div class="row" id="sources">
          </div>
          <div class="row">
            <h3>Autres sources</h3>
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>


    <% include partials/footer %>

    <!-- /container -->
    <script> var listOfCandidates = <%- JSON.stringify(listOfCandidates) %>;</script>
    <script> var candidateOrder = <%- JSON.stringify(candidateOrder) %>;</script>
    <script src="js/sources.js"></script>
</body>
</html>
