<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Les Sources</h1>
        </div>
    </div>

    <div class="container">
        <% include partials/content %>

        <% include partials/footer %>
    </div>
    <!-- /container -->

</body>
</html>
