<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

  <div id="wrap">
    <div class="jumbotron">
        <div class="container">
            <h1>Les Sources</h1>
        </div>
    </div>
  </div>

    <div class="container">
        <% include partials/footer %>
    </div>
    <!-- /container -->

</body>
</html>
