<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
    <% include partials/navbar %>

    <div id="wrap">
      <div class="container">
        <div class="row">
          <h1>Louise Hombert</h1>
          <p>Etudiante à l'Université Paris Dauphine en ...</p>
        </div>

        <div class="row">
          <h1>Igor Koval</h1>
          <p>Doctorant en Mathématiques appliquées à la Pitié Salpétrière</p>
        </div>
      </div>
    </div>

    <div class="container">
        <% include partials/footer %>
    </div>
    <!-- /container -->

</body>
</html>
