<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/team.css"></link>
<body>
    <% include partials/navbar %>

    <div id="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-3 portrait">
            <h1>Louise Hombert</h1>
            <p>Après trois années de classes préparatoires hypokhâgnes khâgnes,  elle intègre l'université Paris-Dauphine où elle poursuit actuellement son master 2 en ....</p>
            <p>Elle s'intéresse tout particulièrement aux polittiques migratoires, en ayant notamment activement participé au site <a href="http://migrantreport.org/">Migrant Report</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-3 portrait">
            <h1>Igor Koval</h1>
            <p>Diplômé d'une école d'ingénieur, il se spécialise en Data Science et Machine Learning</p>
            <p>Actuellement doctorant à la Pitié Salpétrière, il s'intéresse à la modélisation et la prédiction des maladies neurodégénératives</p>
            <p>Appliquer le Machine Learning dans des domaines tout aussi variés que la politique, la médecine, ...</p>
          </div>
        </div>
      </div>
    </div>


    <% include partials/footer %>
    

</body>
</html>
