<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/team.css"></link>
<body>
    <% include partials/navbar %>

    <div id="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center portrait">
            <h1>Louise Hombert</h1>
            <p>Etudiante à l'Université Paris Dauphine en ...</p>
          </div>
          <div class="col-md-4 text-center portrait">
            <h1>Igor Koval</h1>
            <p>Doctorant en Mathématiques appliquées à la Pitié Salpétrière</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <% include partials/footer %>
    </div>
    <!-- /container -->

</body>
</html>
