<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/title.css"></link>
<link rel="stylesheet" type="text/css" href="/css/team.css"></link>
<body>
    <% include partials/navbar %>

    <div id="wrap">

      <div class="container">
        <div class="row titleRow">
          <div class="col-lg-9 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12 text-center">
            <h1>L'équipe</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-8 col-xs-offset-2 portrait">
                <div class="resume">
                  <h3>Louise Hombert</h3>
                  <p>Après trois années de classes préparatoires littéraire, elle intègre l'université Paris-Dauphine où elle poursuit actuellement un Master 2 de <i>Politiques Publiques et Opinion.</i></p>
                  <p>Elle s'intéresse particulièrement à l'évaluation de politiques publiques et aux politiques migratoires, en ayant notamment activement participé au site Migrant Report, spécialisé dans l'analyse géopolitique des flux migratoires et de leurs impacts.</p>
                </div>
                <div class="links">
                  <a href="https://www.linkedin.com/in/louise-hombert-971619a9/"> <i class="fa fa-linkedin-square fa-3x"></i></a>
                  <a href="http://xchange.org/"> <i class="fa fa-globe fa-3x"></i></a>
                </div>

              </div>

              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-8 col-xs-offset-2 portrait">
                <div class="resume">
                  <h3>Igor Koval</h3>
                  <p>Diplômé de l'Ecole des Ponts et Chaussées, il se spécialise en Machine Learning lors de son Master 2 Data Science de l'Université Paris-Saclay.</p>
                  <p>Actuellement doctorant à la Pitié Salpétrière en mathématiques appliquées, il s'intéresse à la modélisation du vieillissement du cerveau, notamment dans le cadre des maladies neurodégénératives.</p>

                </div>
                <div class="links">
                  <a href="https://www.linkedin.com/in/igor-koval-98767360/"> <i class="fa fa-linkedin-square fa-3x"></i></a>
                  <a href="https://github.com/Symcies"> <i class="fa fa-github fa-3x"></i></a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 col-lg-offset-5 col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 contact">
            <h1>Nous contacter & nous suivre</h1>
            <p>Email: lescandidats2017@gmail.com</p>
            <p>Twitter: LesCandidats2017 @LesCandidats17</p>
            <!--<p>Facebook: </p>-->
            <p>
          </div>
        </div>
      </div>
    </div>


    <% include partials/footer %>
<script src="https://use.fontawesome.com/97f692b4ab.js"></script>

</body>
</html>
