<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<link rel="stylesheet" type="text/css" href="/css/test.css"></link>
<body>
    <% include partials/navbar %>



    <div class="container" id="mainContainer">
      <div class="row">
        <div id="TestText">
          Le petit texte sur l'intérêt du test
        </div>
      </div>


      <div class="row">
        <div class="text-center">
          <input id="submission" type="submit" />
        </div>
      </div>
    </div>




    <div class="container">
        <hr>

        <% include partials/footer %>
    </div>

    <script src="js/test.js"></script>


</body>
</html>
