/* framework */

/*  Favorite candidate */

#titleName {
  margin-top:40px;
  margin-bottom: 40px;
}

#favoriteCandidate {
  margin-top: 50px;
}

#favoriteCandidateCol {
  background-color: #667fa0;
  border: 1px solid white;
  border-radius: 3px;
  padding-bottom: 10px;
}

#nameCol {
    text-align:center;
    display:table;
}

#nameCol h1 {
  margin-top: 0px;
  display:inline-block;
  vertical-align:middle
}


.favBox {
  margin-top: 10px;
  text-align:center;
  display:table;
  width: 100%;
  height: 50px;
  border: 1px solid white;
}

.favBox p {
  vertical-align:middle;
  display:table-cell;
}

.favBox:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.resultBox {
  margin-top: 50px;
  text-align:center;
  display:table;
  height: 50px;
  border: 1px solid white;
}

.resultBox h3 {
  vertical-align:middle;
  display:table-cell;
}

.resultBox:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/*  Share results */
#shareCol {
  background-color: #6C7A89;
}

#shareResults {
  margin-top: 40px;
  margin-bottom: 100px;
  height: auto;
  min-height: 100%;
  width: 60%;

}

.candidateProgress {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* list of candidates */

#listOfCandidates {
  margin-top: 50px;
  padding-top: 50px;
}

.candidateRow {
  height: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 2px solid #667fa0;
  display: flex;
  align-items: center;
}

.candidateRow .col-md-2 a {
  color: white;
}

.subCandidateRow {
  height: 70px;
  display: flex;
  align-items: center;
}

.subCandidateRow h1 {
  font-size: 18px;
  margin-bottom: 3px;
  margin-top: 5px;
}

.subCandidateRow h2 {
  font-size: 16px;
  margin-top: 0px;
}

.subCandidateRow  .col-md-3 {
  padding-left: 5px;
  padding-right: 5px;
}


.bioLink {
  text-align:center;
  display:table;
  height: 20px;
  border: 1px solid white;
  border-radius: 2px;
}

.bioLink p {
  vertical-align:middle;
  display:table-cell;
}

.bioLink:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* list of themes */

#listThemes {
  margin-top: 100px;
  margin-bottom: 50px;
}

.themeRow {
  border-top: 2px solid #667fa0;
}

.candidateThemeRow {
  margin-top: 5px;
  margin-bottom: 5px;
}

.candidateThemeRow div p {
  margin: 0px;
}

.themeProgress {
  margin: 0px;
}



/* modal biography */
#singleBio {
  color: black;
}


#conceptDiv {
  text-align:center;
  display:table;
  height: 50px;
  border: 1px solid white;
}


#conceptDiv p {
  vertical-align:middle;
  display:table-cell;
  font-size: 18px;
}

#conceptDiv:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
