
body {
    font-family: 'Playfair Display', serif;

    padding-top: 50px;
    background: #6E7376 url("/img/background/back_BW_short.png") no-repeat fixed;
    background-position: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto 100%;

}
