html {
    height: 100%;
    min-height: 100%;
}


body {
    height: 100%;
    min-height: 100%;
    font-family: 'Work Sans';
    color: white;
    background: #F64747;
    background: -webkit-linear-gradient(left, #911f1f, #F64747); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #911f1f, #F64747); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #911f1f, #F64747); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #911f1f, #F64747); /* Standard syntax */
}



/* Higher resoltuion */

@media (min-width: 1200px) {
  #wrap {
    height: auto;
    min-height: 100%;
    padding-bottom:50px;
    padding-top: 10px;
  }



  #Marianne {
   position: fixed;

   z-index: 1;
   height: 600px;
   width: auto;

   margin-top: 0px;
   margin-left: -20px;
  }
}
/* Small resolution, without Marianne */

@media (max-width: 1199px) {
  #wrap {
    height: auto;
    padding-left: 0px;
    min-height: 100%;
    padding-bottom:50px;
    padding-top: 10px;
  }

  #Marianne {
   height: 0px;
  }
}

@media (max-width: 576px) {
  #wrap {
    margin-top: 0px;
    padding-top: 0px;
  }
}
