html {
    height: 100%;
    min-height: 100%;
}


body {
    height: 100%;
    min-height: 100%;
    font-family: 'Work Sans';
    color: white;

    background-image: url("/img/background/back_BW_short.png"), url("/img/background/1.png");
    background-repeat: no-repeat, repeat ;
    background-position: left top, left top;

    background-size: auto 720px, auto 100px;
}

#wrap {
  min-height: 100%;
  padding-bottom:40px;
}
