.framework {
  padding: 20px;

}

.candidate {
  height: 400px;
  text-align: center;
  background-color: #e8e8e8;

  border-top: 3px solid  #b1b1b1;
  border-bottom: 3px solid  #b1b1b1;
}


.listPositions {
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;

  list-style-type: none;
  font-size: 13px;
}

.title {

  border-bottom: 1px solid black;
  font-size: 28px;
  margin: 5px 18px 30px 18px;
  padding-top: 10px
}


.eyes {
  overflow: hidden;
  height: 140px;


}

.bio {

  margin:0 auto;
}
