.framework {
  padding: 20px;

}

.candidate {
  
  text-align: center;
  background-color: #e8e8e8;

  border-top: 3px solid  #b1b1b1;
  border-bottom: 3px solid  #b1b1b1;
}


.listPositions {
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;

  list-style-type: none;
  font-size: 13px;
}

.title {

  border-bottom: 1px solid black;
  font-size: 38px;
  height: 140px;
}


.eyes {
  overflow: hidden;
  height: 140px;
  padding: 0px;

}

.eyeRow {
  height : 140px;
}

.bio {
  margin:0 auto;
}


.thumbnail {
   position:relative;
   overflow:hidden;
   padding: 0px;
   height : 140px;
}

.caption {
   position:absolute;
   top:0;
   right:0;
   width:100%;
   height:100%;
   display: block;
   color:#fff !important;
   z-index:1;
   padding: 0px !important;

}
