.cloud {
  width: 250px; height: 70px;
  background-color: rgb(247, 220, 168);
  border-radius: 100px;
  text-align: left;
  font-size: 25px;

  margin: 15px 10px 15px 10px; 

  display:inline-block;

  box-shadow: 1px 3px 20px;
}

.buttonLeft, .buttonRight {
  background-color: rgba(0, 0, 0, 0);

  font-size: 40px;
  text-align: center;

  width: 70px; height: 70px;
  border-radius: 70px;
  margin: 0 0 0 0;

  box-shadow: none;
  outline: 0;
}

.buttonLeft {
  position: absolute;
  margin-top: 0px; margin-right: 0px;
  float: left;
}

.buttonRight {
  float: right;
}

.cloudText {
  height: inherit;
  padding-top: 10px;
  font-size: 17px;
  text-align: center;
  margin: 0px 70px 0px 70px;
}
