
.pictureContainer {
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px;
}

.heads {
  height: 70px;
  width: 70px;
  border:1px solid white;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
}

.block {
  padding: 2px;
  border-radius: 10px;
  background-clip:content-box;
}
