.row {
  text-align: justify;
  text-justify: inter-word;
}

.block {
margin-bottom: 60px;
}

blockquote{
  display:block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-size: 30px;
  line-height: 1.2;
  text-align: justify;

}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}
