#page-wrap {
  width: 980px;
  height: 1200px;
  margin: 0 auto;
  background-color: rgb(70, 102, 150);

  border-radius: 10px;
  box-shadow: 1px 3px 50px;
}

#content-header {
  height: 70px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;

  background-color: rgb(104, 124, 162);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

#themes {
  display: inline-block;
  text-align: center;
}
