#layout-navigation {
  margin: 20px 0px 20px 0px;
  text-align: center;
}

#website-title {
  margin: 0px 40px 0px 40px;
  position: relative;
  display: inline-block;

  font-family: 'Cormorant Garamond', serif;
  font-style: oblique;
  font-size: 40px;

}

#navigation-menu {
  display: inline-block;

}

#navigation-menu ul li {
  display: inline-block;
  margin: 0px 20px 0px 20px;


}

#navigation-menu a {
  color: black;
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: none;
}

#navigation-menu a:hover {
   border-bottom:1px solid #000000;
}
