h1 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none !important;
}


.brand-heading {
  font-size: 80px;

}

.intro-text {
    font-size: 26px;
  }

.vertical-center {
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
min-height: 100vh; /* These two lines are counted as one :-)       */

display: flex;
align-items: center;
}

body {
  padding-top: 0px;
  background: #1D2731 !important;
  color : white;
}
