html {
    height: 100%;
}

body {
  font-family: 'Playfair Display';
  color: white;

  background-image: url("/img/background/back_BW_short.png"), url("/img/background/1.png");
  background-repeat: no-repeat, repeat ;
  background-position: left top, left top ;

  background-size: auto 700px, auto 100px;


}

h1 {
    font-size: 80px;
    margin-top: 200px;
    margin-bottom: 20px;
    color: white;
}

h2 {
  font-size: 34px;
  color: white;
}



a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

#links {
    margin-top: 90px;
}

a:hover {
  color: #FFFFFF !important;
}
