
h1 {
    font-size: 80px;
    margin-top: 200px;
    margin-bottom: 20px;
    color: white;
}

h2 {
  font-size: 34px;
  color: white;
}



a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

#links {
    margin-top: 90px;
}

a:hover {
  color: #FFFFFF !important;
}
