.navbar {
  font-family: 'Playfair Display', serif;
  background-color: #E8E8E8;

}

.fixedMargin {
  margin-left: 135px !important;
  margin-right: 135px !important;
}


.navbar-header a {
  color: #000000 !important;
  font-size: 20px;
  padding-top: 14px;
}

.navbar-nav > li{

}
