.navbar-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 18px;
  height: 70px;
  margin-bottom: 30px;
}

.navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar > a {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand {
  font-size: 22px;
  margin-right: 30px;
}

.navbar-link {
  margin-left: 60px;
  margin-right: 60px;

  font-size: 18px;
  font-family: 'Work Sans';

  color: white !important;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
