.wordDiv {
  min-height : 200px;
}

ul ul a {
  color:white;
}

ul ul {
  padding-left: 25px;
}


.links {
  text-decoration: none;
  color: white;
}

blockquote i {
  font-size: 20px;
  font-weight: bold;
}

blockquote {
  margin-bottom: 5px;
}
