.portrait {
text-align: justify ;
}


p {
  font-size: 16px;
}

.portrait a {
  color: white;
}

.resume {
  min-height: 170px;

}


.contact {
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .portrait div p {
    font-size: 15px;
  }

  .contact h2 {
    font-size: 26px;
  }

  .contact h4 {
    font-size: 16px;
  }
}
