#TestText {
  margin: 30px;
}

.theme {
  border: 3px solid #142E4F;
  border-radius: 20px;
  background-color: #ffffff;
  height: 40px;
  margin: 10px 0px 0px 0px;
  padding: 0px;

  text-align: center;
}

.sub .add {
  display: inline-block;
  background-color: transparent;
}

.sub {
  float: left;
}

.add {
  float: right;
}

input[type="button"]
{
    width:20px;
    display:block;
    background-color: transparent;
    color:black ;
    border: none;
    outline:none;
}

.slider {
  border: 3px solid #142E4F;
  background-color: #142E4F;
  height:6px;
  width: 70px;
  margin: 27px 0px 0px 0px;
}

.bevel {
    width: 20px;
    border-radius: 10px;
    height: 20px;
    margin: 20px 0px 0px 0px;
    background-color: #142E4F;
}

.themeText {
  // TODO : centrer texte,
  margin-top: 20px;
}
