#TestText {
  margin: 30px;
}

.theme {
  border: 3px solid #142E4F;
  background-color: #ffffff;
  height: 40px;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

.sub .add {
  display: inline-block;
}

.sub {
  float: left;
}

.add {
  float: right;
}

input[type="button"]
{
    width:20px;
    display:block;
    background-color: #ffffff;
    color:black ;
    border: none;
    outline:none;
}

.slider {
  border: 3px solid #142E4F;
  background-color: #142E4F;
  height:40px;
  width: 70px;
  margin: 10px 0px 0px 0px;
}

.bevel {
    width: 40px;
    height: 0;
    margin: 10px 0px 0px 0px;
    padding-bottom: 40px;
    overflow: hidden;
}
.bevel:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #142E4F;
}
