/* Title and text under*/
h1 {
  font-size: 50px;
}

p {
  font-size: 18px;
}

#testTitle {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Defines the margin of the choosing block */
#testRows{
  margin-top: 70px;
  margin-bottom: 30px;
}

.themeText {
  font-size: 22px;
}


/* Row explaining the methodology */
#conceptRow {
  margin-top: 100px;
}
