.titleRow  {
  margin-top: 20px;
  margin-bottom: 20px;
}

.titleRow h1 {
  font-size: 50px;
}

.titleRow p {
  font-size: 20px;
}

@media (max-width: 767px) {
  .titleRow {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .titleRow h1 {
    font-size: 40px;
  }

}
